In [1]:
import requests
import json
from urllib import urlencode

In [2]:
requests.__version__

'2.9.1'

In [3]:
import pandas as pd

In [6]:
with open('../Data/players.json') as data_file:
    playid_data = json.load(data_file)

In [7]:
playid_df = pd.DataFrame(playid_data)

In [8]:
playid_df.head()

,firstName,lastName,playerId,teamId
0,Quincy,Acy,203112,1610612758
1,Jordan,Adams,203919,1610612763
2,Steven,Adams,203500,1610612760
3,Arron,Afflalo,201167,1610612752
4,Alexis,Ajinca,201582,1610612740

In [10]:
playid_df.shape

(468, 4)

There are only 468 players in the league

In [27]:
ids_ls = playid_df['playerId']

In [17]:
ids_ls[1:10]

1     203919
2     203500
3     201167
4     201582
5     202332
6     200746
7    1626146
8     202730
9       2754
Name: playerId, dtype: int64

# Player profile

In [24]:
class PlayerBio:
    def __init__(self, playerid, leagueid = '00'):
        self._url = "http://stats.nba.com/stats/commonplayerinfo?"
        self._api_param = (('PlayerID',playerid),('LeagueID',leagueid)) 
        u_a = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0'}
        self._x = requests.get(self._url, params=self._api_param,headers={"USER-AGENT":u_a})
        self._x = self._x.json()
    def bio(self): # to collect only one player
        return pd.DataFrame(self._x['resultSets'][0]['rowSet'],columns=self._x['resultSets'][0]['headers'])

In [25]:
#test
tt = PlayerBio(str(playid_df['playerId'][0]))

In [26]:
tt.bio()

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,...,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,GAMES_PLAYED_FLAG
0,203112,Quincy,Acy,Quincy Acy,"Acy, Quincy",Q. Acy,1990-10-06T00:00:00,Baylor,USA,Baylor/USA,...,1610612758,Kings,SAC,kings,Sacramento,quincy_acy,2012,2015,Y,Y

In [28]:
def collectAllPlayerBios(ids_ls):
    leagueid = '00'
    url = "http://stats.nba.com/stats/commonplayerinfo?"
    u_a = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0'} #header is necessary
    allplayerBios_df_ls = []
    
    for playerid in ids_ls:
        api_param = (('PlayerID',str(playerid)),('LeagueID',leagueid))
        response = requests.get(url, params=api_param,headers={"USER-AGENT":u_a})
        response_json = response.json()
        response_df = pd.DataFrame(response_json['resultSets'][0]['rowSet'],columns=response_json['resultSets'][0]['headers'])
        allplayerBios_df_ls.append(response_df)
        
    allplayerBios_df = pd.concat(allplayerBios_df_ls,axis=0)
    return(allplayerBios_df)

In [29]:
test_allplayerBios = collectAllPlayerBios(ids_ls[1:5])

In [30]:
test_allplayerBios

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,...,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,GAMES_PLAYED_FLAG
0,203919,Jordan,Adams,Jordan Adams,"Adams, Jordan",J. Adams,1994-07-08T00:00:00,UCLA,USA,UCLA/USA,...,1610612763,Grizzlies,MEM,grizzlies,Memphis,jordan_adams,2014,2015,Y,Y
0,203500,Steven,Adams,Steven Adams,"Adams, Steven",S. Adams,1993-07-20T00:00:00,Pittsburgh,New Zealand,Pittsburgh/New Zealand,...,1610612760,Thunder,OKC,thunder,Oklahoma City,steven_adams,2013,2015,N,Y
0,201167,Arron,Afflalo,Arron Afflalo,"Afflalo, Arron",A. Afflalo,1985-10-15T00:00:00,UCLA,USA,UCLA/USA,...,1610612752,Knicks,NYK,knicks,New York,arron_afflalo,2007,2015,N,Y
0,201582,Alexis,Ajinca,Alexis Ajinca,"Ajinca, Alexis",A. Ajinca,1988-05-06T00:00:00,"Saint Etienne, France",France,"Saint Etienne, France",...,1610612740,Pelicans,NOP,pelicans,New Orleans,alexis_ajinca,2008,2015,Y,Y

In [31]:
allPlayerBios = collectAllPlayerBios(ids_ls)

In [32]:
allPlayerBios.head(20)

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,...,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,GAMES_PLAYED_FLAG
0,203112,Quincy,Acy,Quincy Acy,"Acy, Quincy",Q. Acy,1990-10-06T00:00:00,Baylor,USA,Baylor/USA,...,1610612758,Kings,SAC,kings,Sacramento,quincy_acy,2012,2015,Y,Y
0,203919,Jordan,Adams,Jordan Adams,"Adams, Jordan",J. Adams,1994-07-08T00:00:00,UCLA,USA,UCLA/USA,...,1610612763,Grizzlies,MEM,grizzlies,Memphis,jordan_adams,2014,2015,Y,Y
0,203500,Steven,Adams,Steven Adams,"Adams, Steven",S. Adams,1993-07-20T00:00:00,Pittsburgh,New Zealand,Pittsburgh/New Zealand,...,1610612760,Thunder,OKC,thunder,Oklahoma City,steven_adams,2013,2015,N,Y
0,201167,Arron,Afflalo,Arron Afflalo,"Afflalo, Arron",A. Afflalo,1985-10-15T00:00:00,UCLA,USA,UCLA/USA,...,1610612752,Knicks,NYK,knicks,New York,arron_afflalo,2007,2015,N,Y
0,201582,Alexis,Ajinca,Alexis Ajinca,"Ajinca, Alexis",A. Ajinca,1988-05-06T00:00:00,"Saint Etienne, France",France,"Saint Etienne, France",...,1610612740,Pelicans,NOP,pelicans,New Orleans,alexis_ajinca,2008,2015,Y,Y
0,202332,Cole,Aldrich,Cole Aldrich,"Aldrich, Cole",C. Aldrich,1988-10-31T00:00:00,Kansas,USA,Kansas/USA,...,1610612746,Clippers,LAC,clippers,Los Angeles,cole_aldrich,2010,2015,Y,Y
0,200746,LaMarcus,Aldridge,LaMarcus Aldridge,"Aldridge, LaMarcus",L. Aldridge,1985-07-19T00:00:00,Texas,USA,Texas/USA,...,1610612759,Spurs,SAS,spurs,San Antonio,lamarcus_aldridge,2006,2015,N,Y
0,1626146,Cliff,Alexander,Cliff Alexander,"Alexander, Cliff",C. Alexander,1995-11-16T00:00:00,Kansas,USA,Kansas/USA,...,1610612757,Trail Blazers,POR,blazers,Portland,cliff_alexander,2015,2015,N,Y
0,202730,Lavoy,Allen,Lavoy Allen,"Allen, Lavoy",L. Allen,1989-02-04T00:00:00,Temple,USA,Temple/USA,...,1610612754,Pacers,IND,pacers,Indiana,lavoy_allen,2011,2015,N,Y
0,2754,Tony,Allen,Tony Allen,"Allen, Tony",T. Allen,1982-01-11T00:00:00,Oklahoma State,USA,Oklahoma State/USA,...,1610612763,Grizzlies,MEM,grizzlies,Memphis,tony_allen,2004,2015,N,Y
0,202329,Al-Farouq,Aminu,Al-Farouq Aminu,"Aminu, Al-Farouq",A. Aminu,1990-09-21T00:00:00,Wake Forest,USA,Wake Forest/USA,...,1610612757,Trail Blazers,POR,blazers,Portland,al-farouq_aminu,2010,2015,N,Y
0,200811,Lou,Amundson,Lou Amundson,"Amundson, Lou",L. Amundson,1982-12-07T00:00:00,Nevada-Las Vegas,USA,Nevada-Las Vegas/USA,...,1610612752,Knicks,NYK,knicks,New York,lou_amundson,2006,2015,Y,Y
0,2365,Chris,Andersen,Chris Andersen,"Andersen, Chris",C. Andersen,1978-07-07T00:00:00,Blinn,USA,Blinn Junior College (TX)/USA,...,1610612763,Grizzlies,MEM,grizzlies,Memphis,chris_andersen,2001,2015,N,Y
0,101187,Alan,Anderson,Alan Anderson,"Anderson, Alan",A. Anderson,1982-10-16T00:00:00,Michigan State,USA,Michigan State/USA,...,1610612764,Wizards,WAS,wizards,Washington,alan_anderson,2005,2015,Y,Y
0,202341,James,Anderson,James Anderson,"Anderson, James",J. Anderson,1989-03-25T00:00:00,Oklahoma State,USA,Oklahoma State/USA,...,1610612758,Kings,SAC,kings,Sacramento,james_anderson,2010,2015,Y,Y
0,1626147,Justin,Anderson,Justin Anderson,"Anderson, Justin",J. Anderson,1993-11-19T00:00:00,Virginia,USA,Virginia/USA,...,1610612742,Mavericks,DAL,mavericks,Dallas,justin_anderson,2015,2015,Y,Y
0,203937,Kyle,Anderson,Kyle Anderson,"Anderson, Kyle",K. Anderson,1993-09-20T00:00:00,UCLA,USA,UCLA/USA,...,1610612759,Spurs,SAS,spurs,San Antonio,kyle_anderson,2014,2015,Y,Y
0,201583,Ryan,Anderson,Ryan Anderson,"Anderson, Ryan",R. Anderson,1988-05-06T00:00:00,California,USA,California/USA,...,1610612740,Pelicans,NOP,pelicans,New Orleans,ryan_j_anderson,2008,2015,N,Y
0,203507,Giannis,Antetokounmpo,Giannis Antetokounmpo,"Antetokounmpo, Giannis",G. Antetokounmpo,1994-12-06T00:00:00,Greece,Greece,Greece,...,1610612749,Bucks,MIL,bucks,Milwaukee,giannis_antetokounmpo,2013,2015,N,Y
0,203648,Thanasis,Antetokounmpo,Thanasis Antetokounmpo,"Antetokounmpo, Thanasis",T. Antetokounmpo,1992-07-18T00:00:00,Greece,None,Greece,...,1610612752,Knicks,NYK,knicks,New York,thanasis_antetokounmpo,2015,2015,Y,Y

In [33]:
allPlayerBios.columns

Index([u'PERSON_ID', u'FIRST_NAME', u'LAST_NAME', u'DISPLAY_FIRST_LAST',
       u'DISPLAY_LAST_COMMA_FIRST', u'DISPLAY_FI_LAST', u'BIRTHDATE',
       u'SCHOOL', u'COUNTRY', u'LAST_AFFILIATION', u'HEIGHT', u'WEIGHT',
       u'SEASON_EXP', u'JERSEY', u'POSITION', u'ROSTERSTATUS', u'TEAM_ID',
       u'TEAM_NAME', u'TEAM_ABBREVIATION', u'TEAM_CODE', u'TEAM_CITY',
       u'PLAYERCODE', u'FROM_YEAR', u'TO_YEAR', u'DLEAGUE_FLAG',
       u'GAMES_PLAYED_FLAG'],
      dtype='object')

In [34]:
import pickle

In [35]:
with open('../Data/allPlayerBios.pickle', 'wb') as handle:
  pickle.dump(allPlayerBios, handle)

# Player Game Log

In [21]:
class GameLog:
    def __init__(self, playerid, season='2015-16',seasontype='Regular Season', leagueid='00'):
        self._url = "http://stats.nba.com/stats/playergamelog?"
        u_a = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0'}
        self._api_param = (('LeagueID', leagueid),('PlayerID',playerid),('Season',season),('SeasonType',seasontype))
        self._x = requests.get(self._url, params=self._api_param,headers={"USER-AGENT":u_a})
        #print(self._x.raise_for_status)
        self._x = self._x.json()
    def log(self):
        return pd.DataFrame(self._x['resultSets'][0]['rowSet'],columns=self._x['resultSets'][0]['headers'])

In [22]:
tt_log = GameLog('203076')

In [23]:
tt_log.log()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22015,203076,0021500857,"FEB 25, 2016",NOP vs. OKC,W,38,11,26,0.423,...,5,6,2,1,4,2,2,30,1,1
1,22015,203076,0021500841,"FEB 23, 2016",NOP @ WAS,L,37,3,9,0.333,...,17,20,3,2,1,3,1,9,-20,1
2,22015,203076,0021500823,"FEB 21, 2016",NOP @ DET,W,43,24,34,0.706,...,14,20,4,0,1,2,1,59,17,1
3,22015,203076,0021500811,"FEB 19, 2016",NOP vs. PHI,W,38,9,22,0.409,...,5,7,1,2,2,2,3,34,-2,1
4,22015,203076,0021500802,"FEB 11, 2016",NOP @ OKC,L,31,8,14,0.571,...,3,3,2,2,0,1,3,23,-13,1
5,22015,203076,0021500798,"FEB 10, 2016",NOP vs. UTA,W,34,7,15,0.467,...,2,4,5,0,1,0,5,19,-10,1
6,22015,203076,0021500782,"FEB 08, 2016",NOP @ MIN,W,31,12,20,0.600,...,8,8,1,2,0,0,2,27,15,1
7,22015,203076,0021500763,"FEB 06, 2016",NOP @ CLE,L,40,11,20,0.550,...,7,11,0,0,2,2,3,24,-9,1
8,22015,203076,0021500747,"FEB 04, 2016",NOP vs. LAL,L,39,16,25,0.640,...,9,11,0,1,1,1,3,39,4,1
9,22015,203076,0021500742,"FEB 03, 2016",NOP @ SAS,L,37,11,22,0.500,...,7,10,4,4,4,4,1,28,-12,1
10,22015,203076,0021500724,"FEB 01, 2016",NOP vs. MEM,L,37,10,20,0.500,...,6,9,3,1,1,1,1,23,-28,1
11,22015,203076,0021500710,"JAN 30, 2016",NOP vs. BKN,W,40,9,22,0.409,...,10,16,3,0,2,1,2,20,-3,1
12,22015,203076,0021500671,"JAN 25, 2016",NOP vs. HOU,L,19,4,9,0.444,...,4,6,1,2,0,4,1,9,-4,1
13,22015,203076,0021500657,"JAN 23, 2016",NOP vs. MIL,W,36,8,17,0.471,...,6,7,5,1,4,1,1,22,9,1
14,22015,203076,0021500641,"JAN 21, 2016",NOP vs. DET,W,36,13,23,0.565,...,4,7,2,1,2,2,4,32,15,1
15,22015,203076,0021500626,"JAN 19, 2016",NOP vs. MIN,W,37,13,22,0.591,...,4,7,0,0,2,0,5,35,8,1
16,22015,203076,0021500618,"JAN 18, 2016",NOP @ MEM,L,37,6,12,0.500,...,8,8,2,3,3,3,3,21,-4,1
17,22015,203076,0021500598,"JAN 15, 2016",NOP vs. CHA,W,35,8,14,0.571,...,4,5,4,1,2,1,3,22,-5,1
18,22015,203076,0021500585,"JAN 13, 2016",NOP @ SAC,W,37,8,23,0.348,...,7,10,3,2,0,0,2,24,2,1
19,22015,203076,0021500544,"JAN 08, 2016",NOP vs. IND,L,3,1,2,0.500,...,1,1,1,0,0,1,0,2,-1,1
20,22015,203076,0021500531,"JAN 06, 2016",NOP vs. DAL,L,42,11,25,0.440,...,6,11,7,2,3,3,3,26,-3,1
21,22015,203076,0021500501,"JAN 02, 2016",NOP @ DAL,W,43,13,22,0.591,...,10,14,0,1,1,4,2,31,7,1
22,22015,203076,0021500487,"DEC 31, 2015",NOP vs. LAC,L,38,7,17,0.412,...,13,15,1,0,2,1,3,14,-10,1
23,22015,203076,0021500460,"DEC 28, 2015",NOP @ ORL,L,28,9,16,0.563,...,6,8,1,2,1,2,1,20,-12,1
24,22015,203076,0021500445,"DEC 26, 2015",NOP vs. HOU,W,38,8,16,0.500,...,11,13,2,0,3,4,3,24,7,1
25,22015,203076,0021500436,"DEC 25, 2015",NOP @ MIA,L,50,13,29,0.448,...,12,15,4,4,3,4,2,29,-11,1
26,22015,203076,0021500432,"DEC 23, 2015",NOP vs. POR,W,36,12,21,0.571,...,9,12,1,1,3,2,1,28,21,1
27,22015,203076,0021500409,"DEC 20, 2015",NOP @ DEN,W,20,9,12,0.750,...,6,6,1,0,4,1,1,27,11,1
28,22015,203076,0021500396,"DEC 18, 2015",NOP @ PHX,L,42,5,12,0.417,...,9,12,2,2,3,4,3,16,-18,1
29,22015,203076,0021500380,"DEC 16, 2015",NOP @ UTA,W,38,7,15,0.467,...,11,13,0,0,1,0,3,17,8,1
30,22015,203076,0021500366,"DEC 14, 2015",NOP @ POR,L,42,11,19,0.579,...,8,10,1,0,5,2,2,28,-7,1
31,22015,203076,0021500348,"DEC 12, 2015",NOP @ CHI,L,42,8,24,0.333,...,13,13,2,1,4,4,1,22,8,1
32,22015,203076,0021500339,"DEC 11, 2015",NOP vs. WAS,W,39,8,15,0.533,...,7,11,2,1,0,2,1,18,13,1
33,22015,203076,0021500312,"DEC 07, 2015",NOP vs. BOS,L,30,8,21,0.381,...,4,6,0,2,3,0,3,16,-24,1
34,22015,203076,0021500288,"DEC 04, 2015",NOP vs. CLE,W,46,13,22,0.591,...,11,12,1,4,1,1,2,31,7,1
35,22015,203076,0021500274,"DEC 02, 2015",NOP @ HOU,L,35,9,20,0.450,...,11,13,1,2,2,2,2,29,-11,1
36,22015,203076,0021500266,"DEC 01, 2015",NOP vs. MEM,L,41,4,15,0.267,...,11,14,2,2,9,1,1,17,-1,1
37,22015,203076,0021500243,"NOV 28, 2015",NOP @ UTA,L,44,12,18,0.667,...,10,11,1,2,3,2,4,36,1,1
38,22015,203076,0021500238,"NOV 27, 2015",NOP @ LAC,L,28,7,16,0.438,...,4,6,0,0,0,3,3,17,-26,1
39,22015,203076,0021500225,"NOV 25, 2015",NOP @ PHX,W,39,11,14,0.786,...,15,17,0,2,2,4,3,26,7,1
40,22015,203076,0021500198,"NOV 22, 2015",NOP vs. PHX,W,39,11,22,0.500,...,13,19,1,2,4,3,4,32,16,1
41,22015,203076,0021500182,"NOV 20, 2015",NOP vs. SAS,W,39,9,23,0.391,...,16,18,3,0,2,1,2,20,15,1
42,22015,203076,0021500163,"NOV 17, 2015",NOP vs. DEN,L,6,0,3,0.000,...,2,2,1,0,0,0,0,0,-2,1
43,22015,203076,0021500145,"NOV 15, 2015",NOP @ NYK,L,40,14,26,0.538,...,10,11,1,1,4,4,4,36,-9,1
44,22015,203076,0021500112,"NOV 10, 2015",NOP vs. DAL,W,19,8,14,0.571,...,7,7,2,1,1,1,2,17,17,1
45,22015,203076,0021500088,"NOV 07, 2015",NOP @ DAL,L,39,11,19,0.579,...,5,6,4,1,2,4,5,25,-7,1
46,22015,203076,0021500081,"NOV 06, 2015",NOP vs. ATL,L,41,14,23,0.609,...,8,10,3,4,3,1,5,43,-1,1
47,22015,203076,0021500056,"NOV 03, 2015",NOP vs. ORL,L,36,3,12,0.250,...,8,9,1,1,5,2,2,14,-2,1
48,22015,203076,0021500035,"OCT 31, 2015",NOP vs. GSW,L,37,8,17,0.471,...,10,15,4,0,2,3,2,26,-19,1
49,22015,203076,0021500015,"OCT 28, 2015",NOP @ POR,L,41,10,17,0.588,...,8,10,0,2,2,2,1,25,-8,1
50,22015,203076,0021500003,"OCT 27, 2015",NOP @ GSW,L,35,4,20,0.200,...,5,6,2,0,3,5,4,18,-16,1

In [38]:
def collectAllPlayerGameLogs(ids_ls):
    leagueid = '00'
    url = "http://stats.nba.com/stats/playergamelog?"
    u_a = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0'} #header is necessary
    allplayerGameLogs_df_ls = []
    season='2015-16'
    seasontype='Regular Season'
    
    for playerid in ids_ls:
        api_param = (('LeagueID', leagueid),('PlayerID',playerid),('Season',season),('SeasonType',seasontype))
        response = requests.get(url, params=api_param,headers={"USER-AGENT":u_a})
        response_json = response.json()
        response_df = pd.DataFrame(response_json['resultSets'][0]['rowSet'],columns=response_json['resultSets'][0]['headers'])
        allplayerGameLogs_df_ls.append(response_df)
        
    allplayerGameLogs_df = pd.concat(allplayerGameLogs_df_ls,axis=0)
    return(allplayerGameLogs_df)

In [42]:
allplayerGameLogs = collectAllPlayerGameLogs(ids_ls)

In [43]:
allplayerGameLogs.shape

(18964, 27)

In [45]:
len(allplayerGameLogs['Player_ID'].unique())

459

Double check the number of players. Still reasonable.

In [49]:
with open('../Data/allplayerGameLogs.pickle', 'wb') as handle:
  pickle.dump(allplayerGameLogs, handle)

In [50]:
allplayerGameLogs.columns

Index([u'SEASON_ID', u'Player_ID', u'Game_ID', u'GAME_DATE', u'MATCHUP', u'WL',
       u'MIN', u'FGM', u'FGA', u'FG_PCT', u'FG3M', u'FG3A', u'FG3_PCT', u'FTM',
       u'FTA', u'FT_PCT', u'OREB', u'DREB', u'REB', u'AST', u'STL', u'BLK',
       u'TOV', u'PF', u'PTS', u'PLUS_MINUS', u'VIDEO_AVAILABLE'],
      dtype='object')

In [51]:
allplayerGameLogs.dtypes

SEASON_ID           object
Player_ID          float64
Game_ID             object
GAME_DATE           object
MATCHUP             object
WL                  object
MIN                float64
FGM                float64
FGA                float64
FG_PCT             float64
FG3M               float64
FG3A               float64
FG3_PCT            float64
FTM                float64
FTA                float64
FT_PCT             float64
OREB               float64
DREB               float64
REB                float64
AST                float64
STL                float64
BLK                float64
TOV                float64
PF                 float64
PTS                float64
PLUS_MINUS         float64
VIDEO_AVAILABLE    float64
dtype: object