In [1]:
import pickle
with open('../Data/allplayerGameLogs.pickle', 'rb') as handle:
  allplayerGameLogs = pickle.load(handle)

In [2]:
import pandas as pd

In [3]:
allplayerGameLogs.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22015,203112,0021500889,"FEB 29, 2016",SAC vs. OKC,L,28,5,9,0.556,...,0,4,2,3,0,0,3,10,-16,1
1,22015,203112,0021500867,"FEB 26, 2016",SAC vs. LAC,L,15,1,1,1.000,...,0,0,0,0,1,0,3,4,-12,1
2,22015,203112,0021500854,"FEB 24, 2016",SAC vs. SAS,L,23,6,9,0.667,...,2,2,0,2,0,1,4,15,13,1
3,22015,203112,0021500842,"FEB 23, 2016",SAC @ DEN,W,13,0,2,0.000,...,3,3,0,0,3,0,1,0,-1,1
4,22015,203112,0021500816,"FEB 19, 2016",SAC vs. DEN,W,15,0,0,0.000,...,3,3,0,0,0,1,1,0,2,1

In [4]:
allplayerGameLogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18964 entries, 0 to 42
Data columns (total 27 columns):
SEASON_ID          18964 non-null object
Player_ID          18964 non-null float64
Game_ID            18964 non-null object
GAME_DATE          18964 non-null object
MATCHUP            18964 non-null object
WL                 18964 non-null object
MIN                18964 non-null float64
FGM                18964 non-null float64
FGA                18964 non-null float64
FG_PCT             18964 non-null float64
FG3M               18964 non-null float64
FG3A               18964 non-null float64
FG3_PCT            18964 non-null float64
FTM                18964 non-null float64
FTA                18964 non-null float64
FT_PCT             18964 non-null float64
OREB               18964 non-null float64
DREB               18964 non-null float64
REB                18964 non-null float64
AST                18964 non-null float64
STL                18964 non-null float64
BLK                18964 non-null float64
TOV                18964 non-null float64
PF                 18964 non-null float64
PTS                18964 non-null float64
PLUS_MINUS         18964 non-null float64
VIDEO_AVAILABLE    18964 non-null float64
dtypes: float64(22), object(5)
memory usage: 4.1+ MB

Modify the datetime

In [5]:
allplayerGameLogs['GAME_DATE'] = pd.to_datetime(allplayerGameLogs['GAME_DATE'])

In [6]:
allplayerGameLogs['GAME_DATE'].head()

0   2016-02-29
1   2016-02-26
2   2016-02-24
3   2016-02-23
4   2016-02-19
Name: GAME_DATE, dtype: datetime64[ns]

In [7]:
del allplayerGameLogs['VIDEO_AVAILABLE']

In [8]:
allplayerGameLogs.columns

Index([u'SEASON_ID', u'Player_ID', u'Game_ID', u'GAME_DATE', u'MATCHUP', u'WL',
       u'MIN', u'FGM', u'FGA', u'FG_PCT', u'FG3M', u'FG3A', u'FG3_PCT', u'FTM',
       u'FTA', u'FT_PCT', u'OREB', u'DREB', u'REB', u'AST', u'STL', u'BLK',
       u'TOV', u'PF', u'PTS', u'PLUS_MINUS'],
      dtype='object')

Add columns to indicate whether the player has double-double or triple-double.

In [9]:
dd = ((allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['AST']>=10))| \
     ((allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['REB']>=10))| \
     ((allplayerGameLogs['AST']>=10) & (allplayerGameLogs['REB']>=10))| \
     ((allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['STL']>=10))| \
     ((allplayerGameLogs['REB']>=10) & (allplayerGameLogs['BLK']>=10))| \
     ((allplayerGameLogs['STL']>=10) & (allplayerGameLogs['BLK']>=10))| \
     ((allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['BLK']>=10))

In [10]:
sum(dd)

1517

In [11]:
allplayerGameLogs['DouBL']= dd

In [12]:
ttt = (allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['AST']>=10) & (allplayerGameLogs['REB']>=10)| \
      (allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['STL']>=10) & (allplayerGameLogs['REB']>=10)| \
      (allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['BLK']>=10) & (allplayerGameLogs['REB']>=10)| \
      (allplayerGameLogs['AST']>=10) & (allplayerGameLogs['BLK']>=10) & (allplayerGameLogs['REB']>=10)| \
      (allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['STL']>=10) & (allplayerGameLogs['AST']>=10)| \
      (allplayerGameLogs['STL']>=10) & (allplayerGameLogs['AST']>=10) & (allplayerGameLogs['REB']>=10)

In [13]:
sum(ttt)

47

In [14]:
allplayerGameLogs['TriBL']= ttt

calculate the fantasy point for a player to add a column in the data frame

In [15]:
allplayerGameLogs['FanPTs'] = 3.5 * allplayerGameLogs['FG3M'] + 1*allplayerGameLogs['FTM'] \
+ 2*(allplayerGameLogs['FGM']-allplayerGameLogs['FG3M']) \
+ 1.25*allplayerGameLogs['REB']+1.5*allplayerGameLogs['AST'] \
+ 2*allplayerGameLogs['STL']+ 2*allplayerGameLogs['BLK'] \
+ 1.5*allplayerGameLogs['DouBL'] + 3*allplayerGameLogs['TriBL'] \
- 0.5*allplayerGameLogs['TOV']

Test case to verify

In [16]:
davis = allplayerGameLogs[allplayerGameLogs['Player_ID']==203076]

In [17]:
davis[['GAME_DATE','MATCHUP','PTS','AST','REB','BLK','STL','TOV','DouBL','TriBL','FanPTs']]

    GAME_DATE      MATCHUP  PTS  AST  REB  BLK  STL  TOV  DouBL  TriBL  FanPTs
0  2016-02-25  NOP vs. OKC   30    2    6    4    1    2  False  False   50.50
1  2016-02-23    NOP @ WAS    9    3   20    1    2    3  False  False   43.00
2  2016-02-21    NOP @ DET   59    4   20    1    0    2   True  False   93.50
3  2016-02-19  NOP vs. PHI   34    1    7    2    2    2  False  False   51.25
4  2016-02-11    NOP @ OKC   23    2    3    0    2    1  False  False   33.25
5  2016-02-10  NOP vs. UTA   19    5    4    1    0    0  False  False   34.00
6  2016-02-08    NOP @ MIN   27    1    8    0    2    0  False  False   43.00
7  2016-02-06    NOP @ CLE   24    0   11    2    0    2   True  False   42.25
8  2016-02-04  NOP vs. LAL   39    0   11    1    1    1   True  False   57.75
9  2016-02-03    NOP @ SAS   28    4   10    4    4    4   True  False   62.00
10 2016-02-01  NOP vs. MEM   23    3    9    1    1    1  False  False   42.75
11 2016-01-30  NOP vs. BKN   20    3   16    2    0    1   True  False   50.00
12 2016-01-25  NOP vs. HOU    9    1    6    0    2    4  False  False   20.00
13 2016-01-23  NOP vs. MIL   22    5    7    4    1    1  False  False   48.25
14 2016-01-21  NOP vs. DET   32    2    7    2    1    2  False  False   49.25
15 2016-01-19  NOP vs. MIN   35    0    7    2    0    0  False  False   48.25
16 2016-01-18    NOP @ MEM   21    2    8    3    3    3  False  False   44.50
17 2016-01-15  NOP vs. CHA   22    4    5    2    1    1  False  False   39.75
18 2016-01-13    NOP @ SAC   24    3   10    0    2    0   True  False   47.00
19 2016-01-08  NOP vs. IND    2    1    1    0    0    1  False  False    4.25
20 2016-01-06  NOP vs. DAL   26    7   11    3    2    3   True  False   60.25
21 2016-01-02    NOP @ DAL   31    0   14    1    1    4   True  False   52.00
22 2015-12-31  NOP vs. LAC   14    1   15    2    0    1   True  False   39.25
23 2015-12-28    NOP @ ORL   20    1    8    1    2    2  False  False   36.50
24 2015-12-26  NOP vs. HOU   24    2   13    3    0    4   True  False   49.25
25 2015-12-25    NOP @ MIA   29    4   15    3    4    4   True  False   67.75
26 2015-12-23  NOP vs. POR   28    1   12    3    1    2   True  False   53.00
27 2015-12-20    NOP @ DEN   27    1    6    4    0    1  False  False   43.50
28 2015-12-18    NOP @ PHX   16    2   12    3    2    4   True  False   43.50
29 2015-12-16    NOP @ UTA   17    0   13    1    0    0   True  False   36.75
30 2015-12-14    NOP @ POR   28    1   10    5    0    2   True  False   52.50
31 2015-12-12    NOP @ CHI   22    2   13    4    1    4   True  False   50.75
32 2015-12-11  NOP vs. WAS   18    2   11    0    1    2   True  False   37.75
33 2015-12-07  NOP vs. BOS   16    0    6    3    2    0  False  False   33.50
34 2015-12-04  NOP vs. CLE   31    1   12    1    4    1   True  False   59.50
35 2015-12-02    NOP @ HOU   29    1   13    2    2    2   True  False   55.75
36 2015-12-01  NOP vs. MEM   17    2   14    9    2    1   True  False   61.00
37 2015-11-28    NOP @ UTA   36    1   11    3    2    2   True  False   61.75
38 2015-11-27    NOP @ LAC   17    0    6    0    0    3  False  False   23.00
39 2015-11-25    NOP @ PHX   26    0   17    2    2    4   True  False   54.75
40 2015-11-22  NOP vs. PHX   32    1   19    4    2    3   True  False   69.75
41 2015-11-20  NOP vs. SAS   20    3   18    2    0    1   True  False   52.00
42 2015-11-17  NOP vs. DEN    0    1    2    0    0    0  False  False    4.00
43 2015-11-15    NOP @ NYK   36    1   11    4    1    4   True  False   61.75
44 2015-11-10  NOP vs. DAL   17    2    7    1    1    1  False  False   32.25
45 2015-11-07    NOP @ DAL   25    4    6    2    1    4  False  False   42.50
46 2015-11-06  NOP vs. ATL   43    3   10    3    4    1   True  False   75.50
47 2015-11-03  NOP vs. ORL   14    1    9    5    1    2  False  False   37.75
48 2015-10-31  NOP vs. GSW   26    4   15    2    0    3   True  False   55.25
49 2015-10-28    NOP @ POR   25    0   10    2    2    2   True  False   47.50
50 2015-10-27    NOP @ GSW   18    2    6    3    0    5  False  False   32.00

Already checked.. it does match the official record from my playing history.

In [94]:
allplayerFantasyGameLogs = allplayerGameLogs.set_index('GAME_DATE')

In [95]:
allplayerFantasyGameLogs = allplayerFantasyGameLogs.sort_index(axis=0)

In [89]:
allplayerFantasyGameLogs.head()

,SEASON_ID,Player_ID,Game_ID,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,...,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,DouBL,TriBL,FanPTs
GAME_DATE,,,,,,,,,,,,,,,,,,,,,
2015-10-27,22015,101126,0021500003,NOP @ GSW,L,19,0,1,0.000,0,...,3,1,0,0,5,0,-21,False,False,6.50
2015-10-27,22015,202389,0021500002,CLE @ CHI,L,21,2,6,0.333,0,...,2,0,2,3,2,5,-1,False,False,16.75
2015-10-27,22015,202087,0021500003,NOP @ GSW,L,27,4,5,0.800,0,...,1,3,0,3,3,8,-8,False,False,20.25
2015-10-27,22015,2581,0021500001,DET @ ATL,W,16,1,6,0.167,1,...,4,1,0,3,1,3,-14,False,False,10.00
2015-10-27,22015,202710,0021500002,CHI vs. CLE,W,37,6,14,0.429,0,...,2,2,1,0,1,17,3,False,False,32.25

Use join to get the corresponding player names

In [53]:
import json
with open('../Data/players.json') as data_file:
    playid_data = json.load(data_file)

In [54]:
playid_df = pd.DataFrame(playid_data)

In [57]:
playid_df['fullName'] = playid_df['firstName'] + ' ' + playid_df['lastName']

In [58]:
playid_df.head()

  firstName lastName  playerId      teamId       fullName
0    Quincy      Acy    203112  1610612758     Quincy Acy
1    Jordan    Adams    203919  1610612763   Jordan Adams
2    Steven    Adams    203500  1610612760   Steven Adams
3     Arron  Afflalo    201167  1610612752  Arron Afflalo
4    Alexis   Ajinca    201582  1610612740  Alexis Ajinca

In [96]:
allplayerFantasyGameLogs = pd.merge(allplayerFantasyGameLogs.reset_index(), playid_df[['playerId' \
     ,'fullName']], left_on='Player_ID',right_on='playerId', how='left')

In [97]:
del allplayerFantasyGameLogs['playerId']

In [129]:
allplayerFantasyGameLogs.head()

,SEASON_ID,Player_ID,Game_ID,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,...,STL,BLK,TOV,PF,PTS,PLUS_MINUS,DouBL,TriBL,FanPTs,fullName
GAME_DATE,,,,,,,,,,,,,,,,,,,,,
2015-10-27,22015,101126,0021500003,NOP @ GSW,L,19,0,1,0.000,0,...,1,0,0,5,0,-21,False,False,6.50,Nate Robinson
2015-10-27,22015,202389,0021500002,CLE @ CHI,L,21,2,6,0.333,0,...,0,2,3,2,5,-1,False,False,16.75,Timofey Mozgov
2015-10-27,22015,202087,0021500003,NOP @ GSW,L,27,4,5,0.800,0,...,3,0,3,3,8,-8,False,False,20.25,Alonzo Gee
2015-10-27,22015,2581,0021500001,DET @ ATL,W,16,1,6,0.167,1,...,1,0,3,1,3,-14,False,False,10.00,Steve Blake
2015-10-27,22015,202710,0021500002,CHI vs. CLE,W,37,6,14,0.429,0,...,2,1,0,1,17,3,False,False,32.25,Jimmy Butler

In [130]:
with open('../Data/allplayerFantasyGameLogs.pickle', 'wb') as handle:
  pickle.dump(allplayerFantasyGameLogs,handle)

#Helper functions to do EDA and feature extraction

In [100]:
allplayerFantasyGameLogs = allplayerFantasyGameLogs.set_index('GAME_DATE')

In [42]:
# function to generate feature tables, namely training and testing data sets given a game date, where training data set contains all 
# information before the predefined game date

In [43]:
def get_train_test(previous_date ,new_game_date): #format like'2/10/2016'
    train = allplayerFantasyGameLogs.ix[:previous_date]
    test = allplayerFantasyGameLogs.ix[new_game_date]
    return(train, test)

In [101]:
train, test = get_train_test('12/10/2015','12/11/2015')

In [102]:
train.head()

,SEASON_ID,Player_ID,Game_ID,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,...,STL,BLK,TOV,PF,PTS,PLUS_MINUS,DouBL,TriBL,FanPTs,fullName
GAME_DATE,,,,,,,,,,,,,,,,,,,,,
2015-10-27,22015,101126,0021500003,NOP @ GSW,L,19,0,1,0.000,0,...,1,0,0,5,0,-21,False,False,6.50,Nate Robinson
2015-10-27,22015,202389,0021500002,CLE @ CHI,L,21,2,6,0.333,0,...,0,2,3,2,5,-1,False,False,16.75,Timofey Mozgov
2015-10-27,22015,202087,0021500003,NOP @ GSW,L,27,4,5,0.800,0,...,3,0,3,3,8,-8,False,False,20.25,Alonzo Gee
2015-10-27,22015,2581,0021500001,DET @ ATL,W,16,1,6,0.167,1,...,1,0,3,1,3,-14,False,False,10.00,Steve Blake
2015-10-27,22015,202710,0021500002,CHI vs. CLE,W,37,6,14,0.429,0,...,2,1,0,1,17,3,False,False,32.25,Jimmy Butler

In [50]:
#function to aggregate statistics for each player up to a given game date

In [109]:
test = allplayerFantasyGameLogs.ix['10/27/2015':'11/5/2015']

In [110]:
test

,SEASON_ID,Player_ID,Game_ID,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,...,STL,BLK,TOV,PF,PTS,PLUS_MINUS,DouBL,TriBL,FanPTs,fullName
GAME_DATE,,,,,,,,,,,,,,,,,,,,,
2015-10-27,22015,101126,0021500003,NOP @ GSW,L,19,0,1,0.000,0,...,1,0,0,5,0,-21,False,False,6.50,Nate Robinson
2015-10-27,22015,202389,0021500002,CLE @ CHI,L,21,2,6,0.333,0,...,0,2,3,2,5,-1,False,False,16.75,Timofey Mozgov
2015-10-27,22015,202087,0021500003,NOP @ GSW,L,27,4,5,0.800,0,...,3,0,3,3,8,-8,False,False,20.25,Alonzo Gee
2015-10-27,22015,2581,0021500001,DET @ ATL,W,16,1,6,0.167,1,...,1,0,3,1,3,-14,False,False,10.00,Steve Blake
2015-10-27,22015,202710,0021500002,CHI vs. CLE,W,37,6,14,0.429,0,...,2,1,0,1,17,3,False,False,32.25,Jimmy Butler
2015-10-27,22015,203521,0021500002,CLE @ CHI,L,20,3,8,0.375,0,...,0,0,1,1,6,1,False,False,16.50,Matthew Dellavedova
2015-10-27,22015,201567,0021500002,CLE @ CHI,L,35,6,17,0.353,3,...,0,2,2,0,18,1,False,False,38.50,Kevin Love
2015-10-27,22015,201143,0021500001,ATL vs. DET,L,30,6,11,0.545,1,...,2,3,1,1,15,-5,False,False,36.00,Al Horford
2015-10-27,22015,2592,0021500002,CLE @ CHI,L,4,0,2,0.000,0,...,0,1,0,1,0,-7,False,False,2.00,James Jones
2015-10-27,22015,203503,0021500002,CHI vs. CLE,W,29,4,9,0.444,2,...,0,0,1,4,11,-1,False,False,14.00,Tony Snell
2015-10-27,22015,201565,0021500002,CHI vs. CLE,W,32,8,22,0.364,0,...,1,0,2,0,18,-1,False,False,27.75,Derrick Rose
2015-10-27,22015,202691,0021500003,GSW vs. NOP,W,26,3,8,0.375,0,...,1,1,7,5,9,4,False,False,20.25,Klay Thompson
2015-10-27,22015,2594,0021500001,ATL vs. DET,L,29,3,9,0.333,1,...,1,0,1,4,7,-9,False,False,13.00,Kyle Korver
2015-10-27,22015,2590,0021500002,CLE @ CHI,L,37,7,15,0.467,3,...,1,1,1,2,19,5,False,False,39.50,Mo Williams
2015-10-27,22015,203949,0021500003,GSW vs. NOP,W,3,0,0,0.000,0,...,1,0,2,4,2,2,False,False,3.00,James Michael McAdoo
2015-10-27,22015,201959,0021500002,CHI vs. CLE,W,22,1,3,0.333,0,...,0,3,3,6,5,2,False,False,22.00,Taj Gibson
2015-10-27,22015,2210,0021500002,CLE @ CHI,L,17,4,7,0.571,2,...,1,0,1,3,10,-5,False,False,14.00,Richard Jefferson
2015-10-27,22015,203105,0021500003,GSW vs. NOP,W,17,6,10,0.600,0,...,1,1,1,2,13,-7,False,False,23.00,Festus Ezeli
2015-10-27,22015,202684,0021500002,CLE @ CHI,L,25,1,4,0.250,0,...,1,0,1,4,2,-6,False,False,18.50,Tristan Thompson
2015-10-27,22015,203110,0021500003,GSW vs. NOP,W,29,3,12,0.250,2,...,1,0,1,5,10,20,False,False,25.50,Draymond Green
2015-10-27,22015,201166,0021500002,CHI vs. CLE,W,16,3,9,0.333,0,...,0,0,2,1,6,3,False,False,7.50,Aaron Brooks
2015-10-27,22015,202397,0021500003,NOP @ GSW,L,38,7,13,0.538,1,...,3,0,2,5,17,5,False,False,38.50,Ish Smith
2015-10-27,22015,203118,0021500001,ATL vs. DET,L,5,2,4,0.500,0,...,0,0,0,0,4,1,False,False,5.25,Mike Scott
2015-10-27,22015,201967,0021500003,NOP @ GSW,L,27,5,8,0.625,2,...,0,0,0,2,13,-15,False,False,16.50,Dante Cunningham
2015-10-27,22015,203484,0021500001,DET @ ATL,W,37,7,14,0.500,4,...,1,0,2,1,21,17,False,False,30.50,Kentavious Caldwell-Pope
2015-10-27,22015,201583,0021500003,NOP @ GSW,L,29,2,7,0.286,1,...,1,0,3,2,9,-8,False,False,19.00,Ryan Anderson
2015-10-27,22015,203099,0021500002,CLE @ CHI,L,3,0,2,0.000,0,...,0,0,0,0,0,-8,False,False,0.00,Jared Cunningham
2015-10-27,22015,203926,0021500002,CHI vs. CLE,W,16,3,4,0.750,1,...,0,0,0,0,8,-2,False,False,13.50,Doug McDermott
2015-10-27,22015,201975,0021500001,DET @ ATL,W,11,1,4,0.250,0,...,0,0,1,1,2,-5,False,False,4.00,Jodie Meeks
2015-10-27,22015,200757,0021500001,ATL vs. DET,L,19,1,3,0.333,0,...,4,0,0,1,2,-1,False,False,23.25,Thabo Sefolosha
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-11-05,22015,203497,0021500073,UTA @ DEN,W,35,2,8,0.250,0,...,0,3,1,2,8,2,False,False,36.50,Rudy Gobert
2015-11-05,22015,201565,0021500070,CHI vs. OKC,W,37,12,25,0.480,0,...,0,0,2,1,29,4,False,False,43.25,Derrick Rose
2015-11-05,22015,203098,0021500072,DAL vs. CHA,L,4,0,2,0.000,0,...,0,0,0,0,2,6,False,False,6.00,John Jenkins
2015-11-05,22015,2547,0021500071,MIA @ MIN,W,28,5,11,0.455,1,...,1,0,1,1,16,3,True,False,37.50,Chris Bosh
2015-11-05,22015,203926,0021500070,CHI vs. OKC,W,23,3,5,0.600,1,...,0,0,0,1,9,-14,False,False,10.75,Doug McDermott
2015-11-05,22015,203486,0021500074,POR vs. MEM,W,22,4,6,0.667,0,...,1,0,0,4,8,1,False,False,29.50,Mason Plumlee
2015-11-05,22015,204025,0021500074,POR vs. MEM,W,4,0,0,0.000,0,...,0,0,0,0,0,-5,False,False,0.00,Tim Frazier
2015-11-05,22015,201589,0021500073,DEN vs. UTA,L,14,1,5,0.200,0,...,2,0,0,2,2,-14,False,False,12.50,Darrell Arthur
2015-11-05,22015,2034,0021500073,DEN vs. UTA,L,2,0,1,0.000,0,...,0,0,0,0,0,2,False,False,0.00,Mike Miller
2015-11-05,22015,2216,0021500074,MEM @ POR,L,33,8,12,0.667,0,...,1,0,3,1,16,-14,True,False,33.50,Zach Randolph
2015-11-05,22015,202407,0021500073,UTA @ DEN,W,1,0,1,0.000,0,...,0,0,0,0,0,0,False,False,0.00,Elijah Millsap
2015-11-05,22015,1626144,0021500073,DEN vs. UTA,L,30,2,8,0.250,1,...,0,0,3,2,8,-9,False,False,20.25,Emmanuel Mudiay
2015-11-05,22015,201609,0021500071,MIA @ MIN,W,33,7,12,0.583,1,...,0,0,2,1,18,18,False,False,24.25,Goran Dragic
2015-11-05,22015,2754,0021500074,MEM @ POR,L,24,3,6,0.500,0,...,0,1,0,3,6,-11,False,False,10.75,Tony Allen
2015-11-05,22015,203918,0021500073,UTA @ DEN,W,23,3,7,0.429,2,...,0,1,1,4,8,-2,False,False,17.75,Rodney Hood
2015-11-05,22015,203459,0021500074,POR vs. MEM,W,21,5,7,0.714,1,...,1,0,1,1,11,18,False,False,18.75,Allen Crabbe
2015-11-05,22015,200751,0021500073,DEN vs. UTA,L,17,3,9,0.333,3,...,0,0,0,0,11,-2,False,False,16.50,Randy Foye
2015-11-05,22015,2555,0021500070,OKC @ CHI,L,9,0,0,0.000,0,...,0,0,1,2,0,-14,False,False,-0.50,Nick Collison
2015-11-05,22015,203460,0021500070,OKC @ CHI,L,15,1,3,0.333,1,...,1,0,0,2,3,11,False,False,9.50,Andre Roberson
2015-11-05,22015,202702,0021500073,DEN vs. UTA,L,30,4,8,0.500,0,...,0,0,0,4,9,-8,False,False,24.50,Kenneth Faried
2015-11-05,22015,2744,0021500072,CHA @ DAL,W,27,15,18,0.833,0,...,0,1,2,3,31,10,False,False,44.75,Al Jefferson
2015-11-05,22015,202329,0021500074,POR vs. MEM,W,33,4,11,0.364,1,...,1,0,2,4,11,11,True,False,34.00,Al-Farouq Aminu
2015-11-05,22015,203952,0021500071,MIN vs. MIA,L,31,5,18,0.278,1,...,1,0,0,1,12,-19,False,False,19.50,Andrew Wiggins
2015-11-05,22015,201142,0021500070,OKC @ CHI,L,41,13,29,0.448,3,...,0,2,3,2,33,1,False,False,52.00,Kevin Durant
2015-11-05,22015,1626159,0021500071,MIA @ MIN,W,36,3,7,0.429,0,...,1,1,1,1,7,12,False,False,17.25,Justise Winslow
2015-11-05,22015,202083,0021500072,DAL vs. CHA,L,26,2,9,0.222,2,...,1,0,1,1,11,-6,False,False,14.75,Wesley Matthews
2015-11-05,22015,203939,0021500072,DAL vs. CHA,L,23,6,12,0.500,0,...,1,1,0,2,14,3,False,False,30.75,Dwight Powell
2015-11-05,22015,2734,0021500072,DAL vs. CHA,L,20,0,3,0.000,0,...,1,0,3,1,0,-5,False,False,3.25,Devin Harris
2015-11-05,22015,203210,0021500074,MEM @ POR,L,10,3,4,0.750,2,...,1,0,0,1,8,4,False,False,14.75,JaMychal Green
2015-11-05,22015,203476,0021500071,MIN vs. MIA,L,26,4,8,0.500,0,...,2,1,3,3,10,9,False,False,22.00,Gorgui Dieng

In [113]:
test.columns

Index([ u'SEASON_ID',  u'Player_ID',    u'Game_ID',    u'MATCHUP',
               u'WL',        u'MIN',        u'FGM',        u'FGA',
           u'FG_PCT',       u'FG3M',       u'FG3A',    u'FG3_PCT',
              u'FTM',        u'FTA',     u'FT_PCT',       u'OREB',
             u'DREB',        u'REB',        u'AST',        u'STL',
              u'BLK',        u'TOV',         u'PF',        u'PTS',
       u'PLUS_MINUS',      u'DouBL',      u'TriBL',     u'FanPTs',
         u'fullName'],
      dtype='object')

In [116]:
interest_columns = ['fullName','MIN','PTS','FGM','FGA', 'FG3M','FG3A','REB','AST','STL','TOV','PLUS_MINUS','DouBL','TriBL','FanPTs']

In [117]:
test.grouped = test[interest_columns].reset_index().groupby('fullName')

In [127]:
def s(group):
    group['NumGames'] = group['fullName'].count()
    group['AvgFanPTs'] = group['FanPTs'].mean()
    group['AvgPTS'] = group['PTS'].mean()
    group['AvgMIN'] = group['MIN'].mean() 
    group['AvgFGM'] = group['FGM'].mean()
    group['AvgFGA'] = group['FGA'].mean()
    group['AvgFG3M'] = group['FG3A'].mean()
    group['AvgREB'] = group['REB'].mean()
    group['AvgAST'] = group['AST'].mean()
    group['AvgSTL'] = group['STL'].mean()
    group['AvgTOV'] = group['TOV'].mean()
    group['AvgPLUS_MINUS'] = group['PLUS_MINUS'].mean()
    group['NumDouBL'] = group['DouBL'].sum()
    group['NumTriBL'] = group['TriBL'].sum()
       
    return group

So we can get a aggregated table for players' performance up to a specific date. They are useful to serve as our feature variables

In [136]:
Newdf2 = test.grouped.apply(s)
Newdf2 = Newdf2.drop(['GAME_DATE','MIN','PTS','FGM','FGA', 'FG3M','FG3A','REB','AST','STL','TOV','PLUS_MINUS','DouBL','TriBL','FanPTs'],axis=1)
Newdf2

,fullName,NumGames,AvgPTS,AvgMIN,AvgFGM,AvgFGA,AvgFG3M,AvgREB,AvgAST,AvgSTL,AvgTOV,AvgPLUS_MINUS,AvgFanPTs
0,Nate Robinson,2,0.000000,11.500000,0.000000,0.500000,0.500000,0.000000,2.000000,0.500000,0.000000,-10.000000,4.000000
1,Timofey Mozgov,5,7.800000,21.600000,3.000000,6.600000,0.200000,4.800000,1.000000,0.000000,1.600000,-1.200000,17.300000
2,Alonzo Gee,4,3.750000,17.750000,1.750000,3.750000,0.750000,2.500000,0.750000,1.000000,1.250000,-16.250000,9.375000
3,Steve Blake,4,1.250000,14.000000,0.500000,4.250000,2.750000,1.750000,4.250000,0.250000,1.750000,-6.750000,10.062500
4,Jimmy Butler,6,21.666667,36.000000,7.000000,15.000000,3.500000,4.833333,2.666667,2.333333,0.333333,1.333333,39.125000
5,Matthew Dellavedova,5,8.000000,25.200000,3.200000,7.400000,2.800000,3.600000,6.600000,0.600000,1.400000,14.800000,23.400000
6,Kevin Love,5,17.000000,31.600000,6.000000,14.600000,6.200000,11.000000,3.000000,0.000000,1.600000,11.200000,37.550000
7,Al Horford,6,18.000000,32.500000,7.666667,14.166667,3.166667,8.666667,2.500000,0.833333,1.666667,3.000000,38.416667
8,James Jones,5,4.000000,7.200000,1.200000,2.600000,2.000000,0.400000,0.000000,0.000000,0.200000,-3.400000,5.300000
9,Tony Snell,6,6.333333,23.833333,2.166667,5.833333,3.000000,3.333333,1.000000,0.333333,0.666667,3.833333,13.250000
10,Derrick Rose,6,13.333333,31.333333,5.500000,14.500000,1.500000,3.166667,5.500000,0.333333,2.666667,-0.500000,24.875000
11,Klay Thompson,5,13.800000,27.000000,5.200000,11.800000,3.400000,4.400000,2.200000,0.800000,2.600000,12.600000,25.400000
12,Kyle Korver,4,9.250000,31.500000,4.000000,9.250000,5.000000,3.500000,2.000000,0.750000,1.500000,5.500000,18.000000
13,Mo Williams,5,15.400000,30.000000,5.600000,12.400000,5.600000,2.600000,4.400000,0.600000,1.400000,4.800000,27.150000
14,James Michael McAdoo,5,2.800000,6.000000,1.000000,1.600000,0.000000,1.600000,0.400000,0.200000,0.600000,1.400000,5.500000
15,Taj Gibson,6,6.166667,19.666667,2.500000,4.166667,0.000000,5.166667,0.833333,0.000000,1.500000,-3.000000,15.791667
16,Richard Jefferson,5,9.000000,23.200000,3.000000,6.000000,3.400000,1.600000,0.800000,0.400000,1.400000,4.000000,13.100000
17,Festus Ezeli,5,9.200000,20.000000,4.000000,6.800000,0.000000,6.000000,1.000000,0.400000,0.800000,7.600000,22.500000
18,Tristan Thompson,5,7.600000,24.600000,3.400000,5.600000,0.000000,10.200000,0.800000,0.200000,0.800000,9.400000,23.850000
19,Draymond Green,5,12.200000,32.600000,4.000000,10.000000,4.400000,7.000000,5.200000,1.200000,2.000000,19.200000,33.250000
20,Aaron Brooks,6,8.666667,16.000000,3.666667,8.500000,4.000000,2.000000,2.000000,0.500000,0.666667,2.166667,15.833333
21,Ish Smith,4,7.750000,23.750000,3.250000,9.000000,1.750000,2.750000,6.750000,1.500000,2.250000,-0.750000,23.562500
22,Mike Scott,6,2.833333,11.333333,1.000000,3.666667,1.166667,1.833333,1.166667,0.000000,0.000000,0.833333,6.958333
23,Dante Cunningham,4,6.500000,25.250000,2.500000,5.000000,2.500000,3.750000,0.500000,0.500000,0.000000,-4.000000,13.937500
24,Kentavious Caldwell-Pope,4,13.750000,38.500000,4.500000,12.500000,5.000000,4.500000,2.250000,1.000000,2.000000,8.000000,25.000000
25,Ryan Anderson,4,15.750000,31.250000,5.750000,14.500000,5.750000,6.500000,0.500000,1.250000,1.500000,-6.000000,28.500000
26,Jared Cunningham,5,4.200000,10.800000,1.400000,2.800000,0.400000,0.600000,0.600000,0.000000,0.200000,-0.400000,6.250000
27,Doug McDermott,6,10.000000,20.333333,3.666667,7.000000,3.833333,2.166667,1.000000,0.166667,1.000000,-6.666667,15.125000
28,Jodie Meeks,2,1.000000,8.500000,0.500000,2.500000,0.000000,1.000000,0.000000,0.000000,0.500000,0.000000,2.000000
29,Thabo Sefolosha,4,4.250000,20.000000,1.750000,4.000000,1.000000,5.000000,2.000000,2.250000,1.000000,5.250000,18.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1607,Rudy Gobert,5,7.800000,33.000000,3.000000,6.200000,0.000000,13.000000,1.400000,0.400000,1.800000,5.200000,34.050000
1608,Derrick Rose,6,13.333333,31.333333,5.500000,14.500000,1.500000,3.166667,5.500000,0.333333,2.666667,-0.500000,24.875000
1609,John Jenkins,3,6.333333,14.333333,2.666667,6.333333,1.333333,2.666667,1.333333,0.000000,0.666667,-9.333333,11.333333
1610,Chris Bosh,5,14.400000,31.400000,5.000000,12.800000,4.200000,9.800000,1.600000,1.200000,0.400000,2.400000,34.650000
1611,Doug McDermott,6,10.000000,20.333333,3.666667,7.000000,3.833333,2.166667,1.000000,0.166667,1.000000,-6.666667,15.125000
1612,Mason Plumlee,6,9.833333,26.166667,4.500000,6.833333,0.000000,8.333333,2.666667,1.000000,2.500000,1.500000,26.916667
1613,Tim Frazier,3,0.000000,3.666667,0.000000,0.333333,0.000000,0.666667,0.333333,0.333333,0.333333,-1.333333,1.833333
1614,Darrell Arthur,5,3.600000,19.200000,1.600000,5.800000,1.200000,4.600000,1.200000,0.600000,0.400000,-7.800000,14.350000
1615,Mike Miller,5,1.800000,4.600000,0.600000,1.200000,1.200000,0.800000,0.200000,0.000000,0.200000,3.400000,3.300000
1616,Zach Randolph,6,13.000000,28.666667,5.500000,11.500000,0.166667,8.833333,1.166667,0.333333,2.333333,-1.833333,26.041667
1617,Elijah Millsap,5,0.400000,5.200000,0.200000,1.400000,0.200000,0.400000,0.000000,0.200000,0.200000,1.600000,1.600000
1618,Emmanuel Mudiay,5,11.600000,30.600000,3.800000,12.600000,4.000000,4.000000,5.800000,0.800000,5.600000,-3.800000,26.500000
1619,Goran Dragic,5,12.800000,30.800000,4.600000,9.400000,2.400000,3.000000,4.400000,1.000000,1.800000,5.000000,25.950000
1620,Tony Allen,6,5.333333,21.666667,2.500000,6.333333,1.000000,4.666667,1.333333,1.500000,0.666667,-2.166667,16.916667
1621,Rodney Hood,5,12.800000,25.400000,5.400000,11.800000,4.800000,2.400000,3.200000,1.000000,1.200000,3.200000,23.000000
1622,Allen Crabbe,6,5.666667,21.500000,2.333333,6.166667,2.333333,1.666667,1.000000,1.000000,0.833333,-1.166667,11.083333
1623,Randy Foye,5,4.600000,15.000000,1.600000,6.000000,4.800000,1.200000,1.000000,0.400000,0.600000,-2.200000,9.000000
1624,Nick Collison,4,1.000000,10.500000,0.250000,1.000000,0.000000,2.500000,0.500000,0.750000,1.000000,-5.000000,5.875000
1625,Andre Roberson,6,4.500000,20.000000,1.666667,3.333333,1.666667,2.666667,0.666667,0.500000,0.500000,1.500000,10.916667
1626,Kenneth Faried,5,14.400000,28.400000,5.800000,9.400000,0.000000,10.200000,1.200000,0.400000,1.800000,-4.600000,31.150000
1627,Al Jefferson,5,16.400000,25.800000,8.000000,14.200000,0.000000,7.600000,1.200000,0.800000,0.600000,2.800000,32.000000
1628,Al-Farouq Aminu,6,13.666667,33.000000,4.833333,10.333333,3.500000,8.666667,2.000000,0.666667,2.500000,6.666667,30.500000
1629,Andrew Wiggins,4,13.750000,28.500000,4.250000,14.500000,2.250000,3.750000,1.000000,0.500000,2.250000,-0.750000,20.437500
1630,Kevin Durant,6,29.833333,38.500000,10.166667,21.000000,6.666667,6.166667,2.666667,0.500000,2.333333,3.333333,46.375000
1631,Justise Winslow,5,5.600000,27.000000,2.400000,5.600000,2.000000,4.200000,1.400000,0.600000,1.400000,8.200000,14.150000
1632,Wesley Matthews,4,9.500000,26.500000,2.750000,8.250000,5.500000,2.250000,1.250000,0.500000,0.750000,2.500000,15.812500
1633,Dwight Powell,5,10.600000,22.000000,4.400000,9.600000,0.000000,8.200000,1.400000,0.600000,0.600000,0.200000,25.350000
1634,Devin Harris,5,7.600000,22.400000,2.600000,7.800000,3.400000,3.400000,1.600000,1.000000,1.400000,-1.600000,16.650000
1635,JaMychal Green,6,6.666667,14.833333,2.500000,5.500000,1.000000,5.500000,0.166667,0.500000,0.833333,-3.166667,15.541667
1636,Gorgui Dieng,4,7.000000,20.000000,3.000000,6.000000,0.000000,4.000000,0.500000,0.750000,1.250000,-1.000000,15.625000

In [151]:
def aggr_stats(date):
    interest_columns = ['fullName','Player_ID','MIN','PTS','FGM','FGA', 'FG3M','FG3A', \
                        'REB','AST','STL','TOV','PLUS_MINUS','DouBL','TriBL','FanPTs']
    tmp = allplayerFantasyGameLogs.ix['10/27/2015':date]
    tmp.grouped = tmp[interest_columns].reset_index().groupby('fullName')
    
    def aggr(group):
        group['NumGames'] = group['fullName'].count()
        group['AvgFanPTs'] = group['FanPTs'].mean()
        group['AvgPTS'] = group['PTS'].mean()
        group['AvgMIN'] = group['MIN'].mean() 
        group['AvgFGM'] = group['FGM'].mean()
        group['AvgFGA'] = group['FGA'].mean()
        group['AvgFG3M'] = group['FG3M'].mean()
        group['AvgFG3A'] = group['FG3A'].mean()
        group['AvgREB'] = group['REB'].mean()
        group['AvgAST'] = group['AST'].mean()
        group['AvgSTL'] = group['STL'].mean()
        group['AvgTOV'] = group['TOV'].mean()
        group['AvgPLUS_MINUS'] = group['PLUS_MINUS'].mean()
        group['NumDouBL'] = group['DouBL'].sum()
        group['NumTriBL'] = group['TriBL'].sum()

        return group
    
    Newdf = tmp.grouped.apply(aggr)
    Newdf = Newdf.drop(['GAME_DATE','MIN','PTS','FGM','FGA', 'FG3M','FG3A','REB','AST','STL','TOV','PLUS_MINUS','DouBL','TriBL','FanPTs'],axis=1)
    
    return(Newdf)

Test

In [152]:
PlayerFeaturesTable_02_29_2016 = aggr_stats('2/29/2016')

In [153]:
PlayerFeaturesTable_02_29_2016.head()

,fullName,Player_ID,NumGames,AvgFanPTs,AvgPTS,AvgMIN,AvgFGM,AvgFGA,AvgFG3M,AvgFG3A,AvgREB,AvgAST,AvgSTL,AvgTOV,AvgPLUS_MINUS,NumDouBL,NumTriBL
0,Nate Robinson,101126,2,4.000000,0.000000,11.500000,0.000000,0.500000,0.000000,0.500000,0.000000,2.000000,0.500000,0.000000,-10.000000,0,0
1,Timofey Mozgov,202389,56,14.223214,6.357143,17.821429,2.732143,4.982143,0.017857,0.125000,4.500000,0.410714,0.285714,0.964286,0.214286,1,0
2,Alonzo Gee,202087,58,11.012931,3.827586,21.448276,1.534483,3.172414,0.258621,0.913793,3.051724,0.948276,0.896552,0.637931,-2.517241,0,0
3,Steve Blake,2581,36,11.430556,4.277778,16.000000,1.527778,3.944444,0.944444,2.611111,1.444444,3.083333,0.416667,1.500000,-1.138889,0,0
4,Jimmy Butler,202710,48,39.682292,22.375000,37.812500,7.437500,16.250000,1.104167,3.333333,5.187500,4.270833,1.687500,1.979167,0.187500,6,0

In [161]:
with open('../Data/PlayerFeaturesTable_02_29_2016.pickle', 'wb') as handle:
  pickle.dump(PlayerFeaturesTable_02_29_2016,handle)

In [49]:
# function to generate a score(PTS) leader board given a game date, the same applies to other 
# attributes, such as 'REB', 'AST', 'FG3', 'BLK', 'PLUS_MINUS'

In [156]:
def get_leader_board(attr, date):
    tmp = allplayerFantasyGameLogs.ix['10/27/2015':date]
    tmp = tmp[['fullName',attr]].reset_index().groupby('fullName').mean()
    result_df = tmp.sort_values([attr], ascending=False)

    return(result_df)

Test 1. leader board for scoring

In [157]:
test1 = get_leader_board('PTS','2/29/2016')

In [158]:
test1.head()

                        PTS
fullName
Stephen Curry     30.678571
James Harden      28.500000
Kevin Durant      27.905660
DeMarcus Cousins  27.306122
Damian Lillard    25.358491

Test 2. leader board for Fantasy Points

In [159]:
get_leader_board('FanPTs','2/29/2016').head(10)

                      FanPTs
fullName
Russell Westbrook  54.112500
Stephen Curry      53.151786
DeMarcus Cousins   51.505102
James Harden       50.995833
Kevin Durant       49.650943
LeBron James       47.350877
Anthony Davis      46.799020
John Wall          46.105932
Damian Lillard     44.198113
Chris Paul         44.152778

In [160]:
get_leader_board('PLUS_MINUS','2/29/2016').head(10)

                        PLUS_MINUS
fullName
Stephen Curry            14.267857
Draymond Green           13.964912
Klay Thompson            12.107143
Kawhi Leonard             9.685185
Jorge Gutierrez           9.000000
Kevin Durant              8.735849
Michael Kidd-Gilchrist    8.285714
Tim Duncan                8.113636
Russell Westbrook         8.066667
LeBron James              7.789474

In [ ]:
# function to aggregate match-up info given a player by a game date